.grid {
    display: grid;
    height: 100vh;
    max-width: 400px;
    min-width: 400px;
    grid-template-columns: 7% 6% 2% 19% 3% 5% 14% 13% 5% 3% 3% 12% 8%;
    grid-template-rows: 5% 6% 3% 6% 3% 10% 2% 49% 8% 9%;    
    margin: 0 auto;
} 

body {
    font-family: 'Monoton', cursive;
    background-color: #f8c8ac;
}

#logo {
    grid-column-start: 4;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 5;
    background: url("/docs/svg/xianlilow_logo.png");
    background-size: 100% 100%;
}

#aboutme_building {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 11;
    background: url("/docs/svg/aboutme_building.svg");
    background-size: 100% 120%;  
}

#resume_building {
    grid-column-start: 9;
    grid-column-end: 14;
    grid-row-start: 8;
    grid-row-end: 11;
    background: url("/docs/svg/resume_building.svg");
    background-size: 110% 110%;
}

#yellow_building {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 11;
    background: url("/docs/svg/yellowBuilding.svg");
    background-size: 100% 250%;
    background-repeat:no-repeat;
}

#contact_building {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 9;
    grid-row-end: 11;
    background: url("/docs/svg/contact_building.svg");
    background-size: 100% 200%;
}

#pink_building {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 10;
    grid-row-end: 11;
    background: url("/docs/svg/pink_building.svg");
    background-size: 100% 100%;
}

#about_link {
    display: inline-block;
    height: 100%;
    width: 100%;
}

#about_link p {
    writing-mode: vertical-rl;
    font-size: 2em;
    box-sizing: border-box;
}

#about_link {
    display: block;
    font-size: 25px;
    color: #353535;
    height: 300px;
    text-decoration-line: none;
    writing-mode: vertical-lr;
    grid-column: 5 / 6;
    grid-row-start: 7;
}

#resume_link {
    display: block;
    height: 100%;
    width: 100%;
}

#resume_link p {
    box-sizing: border-box;
}

#resume_link {
    display: block;
    font-size: 18px;
    color: #a7c9d3;
    text-decoration-line: none;
    height: 300px;
    grid-column: 9 / 11;
    grid-row-start: 8;
    padding-top: 28px;
    padding-left: 8px;
}

#contact_link {
    display: block;
    height: 100%;
    width: 100%;
}
#contact_link p {
    font-size: 2em;
    box-sizing: border-box;
}

#contact_link {
    display: block;
    font-size: 22px;
    color: #353535;
    text-decoration-line: none;
    height: 300px;
    grid-column: 2 / 6;
    grid-row-start: 9;
    padding-top: 10px;
    padding-left: 15px;
}