.grid {
    display: grid;
    height: 100vh;
    width: 375px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);    
    background-color: #f8c8ac;
    /* overflow: hidden; */
} 

.logo {
    grid-column: 2 / 4;
    grid-row-start: 2;
}

#aboutme_building {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 11;
    background: url("/assets/svg/aboutme_building.svg");
    background-size: 100% 100%;  
}
#resume_building {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 11;
    background: url("/assets/svg/resume_building.svg");
    background-size: auto 110%;
}
#yellow_building {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 11;
    background: url("/assets/svg/yellow_building.svg");
    background-size: auto 110%;
    /* background-position: center bottom; */
    padding-right: 30px;

}
#contact_building {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 11;
    background: url("/assets/svg/contact_building.svg");
    background-size: auto auto;

}
#pink_building {
    grid-column-start:;
    grid-column-end:;
    grid-row-start:;
    grid-row-end:;
    background: url("/assets/svg/yellow_building.svg");
    background-size: auto auto;
    grid-column: 6 / 10;
    grid-row: 10 / 11;
  
}














 

/* .grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.7fr 1.3fr 0.5fr 1.5fr;
    grid-template-rows: 0.2fr 0.8fr 5fr;
    background-color: bisque;
}

.heading {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    display: block;
    margin: 0 auto;
}

.building-1 {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    display: block;
    z-index: 1;
}

.building-2 {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
    display: block;
    z-index: 2;
} */